@font-face {
  font-family: 'Open Sans';
  src: url("./OpenSans/OpenSans-Light.eot");
  src: url("./OpenSans/OpenSans-Light.eot") format("embedded-opentype"), url("./OpenSans/OpenSans-Light.woff2") format("woff2"), url("./OpenSans/OpenSans-Light.woff") format("woff"), url("./OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
}
